{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": true
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime", 
        [
            "@emotion",
            {
              // sourceMap is on by default but source maps are dead code eliminated in production
              "sourceMap": true,
              "autoLabel": "dev-only"
            }
        ]
    ]
}