body {
    margin: 0;
    background-color: red;
}

h1 {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    font-family: sans-serif;
    text-shadow: 0 0 20px black;
}

button {
    display: block;
    margin: auto;
}

img {
    display: block;
    margin: auto;
}